<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title PATLAW
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/icofont.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.header-top
          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')
            .right
              .lawyer
                h2 Thạc sỹ - Luật sư: Trương Thành Thiện
                h5 Thành viên Đoàn Luật sư TP. Hồ Chí Minh
              .hotline
                h2
                  i.icofont-headphone-alt-2
                  a(href='tel:1900663675') 1900.663.675
                h5 Tổng đài tư vấn
              .search-btn
                i.mdi.mdi-magnify
                h5 Tìm kiếm
              .zalo
                a(href="http://zalo.me/0917681909 ")
                  h1 Z
                  h5 Zalo
              .contact-btn
                a(href='lien-he.html')
                  i.mdi.mdi-comment-text-outline
                  h5 Liên hệ  

          .container
            .search-form
              form(action="")
                input(type="text", placeholder='Nhập từ khóa . . .')
                button(type="submit")
                  i.mdi.mdi-magnify
                i.mdi.mdi-close.close-search

        section.menu
          .toggleMenu.d-block.d-xl-none
            i.mdi.mdi-menu
            h5 Menu
          .container
            .main-menu
              ul.nav
                .nav-close
                  i.mdi.mdi-close.d-block.d-xl-none
                li.nav-item
                  a.nav-link(href='index.html') Trang chủ
                li.nav-item
                  a.nav-link(href='gioi-thieu.html') 
                    | Giới thiệu
                  ul
                    li
                      a(href='chi-tiet-gioi-thieu.html') PATLAW
                    li
                      a(href='chi-tiet-gioi-thieu.html') Dịch vụ pháp lý
                    li
                      a(href='chi-tiet-gioi-thieu.html') Chính sách bảo mật thông tin khách hàng

                li.nav-item
                  a.nav-link(href='dich-vu.html') 
                    | Tố tụng & dịch vụ hành chính
                    
                li.nav-item
                  a.nav-link(href='phap-ly-doanh-nghiep.html') Pháp lý doanh nghiệp
                li.nav-item
                  a.nav-link(href='tin-tuc.html') 
                    | Nghiên cứu trao đổi
                  ul
                    li
                      a(href='tin-tuc.html') Dân sự
                    li
                      a(href='tin-tuc.html') Hình sự
                    li
                      a(href='tin-tuc.html') Hôn nhân - Gia đình
                    li
                      a(href='tin-tuc.html') Kinh doanh - Thương mại - Đầu tư
                    li
                      a(href='tin-tuc.html') Nhà - Đất


                li.nav-item
                  a.nav-link(href='thong-tin-patlaw.html') 
                    | Thông tin PATLAW
                  ul
                    li
                      a(href='thong-tin-patlaw.html') Giới thiệu PATLAW
                    li
                      a(href='thong-tin-patlaw.html') Thông tin về PATLAW
                    
                li.nav-item
                  a.nav-link(href='lien-he.html') Đăng ký tư vấn
                li.nav-item
                  a.nav-link(href='bang-gia.html') Bảng giá dịch vụ
                

        .overlay-menu

        
    article
      block article


    
    block footer
      section.footer
        .container
          .row
            .col-xl-4.col-lg-4.col-sm-6
              .about
                img(src='../img/logo.png')
                p Công ty Luật Phúc Anh Thiện là kết tinh những kiến thức từ cơ bản đến nâng cao thuộc chuyên ngành Luật và một số chuyên ngành khác; Với những kinh nghiệm thực tiễn qua nhiều năm làm việc trong những môi trường khác nhau: Thư ký Tòa án

            .col-xl-5.col-lg-5.col-sm-6
              .info
                h4 
                  | Thông tin công ty
                  i.mdi.mdi-chevron-down
                ul
                  li Chủ sở hữu Website: CÔNG TY LUẬT TNHH PHÚC ANH THIỆN

                  li Giấy đăng ký hoạt động số: 41/02.2706/TP/ĐKHĐ do Sở Tư Pháp thành phố Hồ Chí Minh cấp thay đổi ngày 15/08/2018

                  li Địa chỉ: Số 520/2/9 (Tầng lửng), Quốc lộ 13, Khu phố 6, Phường Hiệp Bình Phước, Quận Thủ Đức, TP. Hồ Chí Minh

                  li Mã số thuế: 03 1513 2200
                 
            .col-xl-3.col-lg-3.col-sm-12
              .info
                h4 
                  | Thông tin liên hệ
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-deskphone
                    | Hotline: 1900.633.675
                  li
                    i.mdi.mdi-email-outline
                    | luatsutruongthanhthien@gmail.com
                  li
                    a(href='http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=48947')
                      img(src='../img/copyright.png')
              
          .copyright.text-center
            h5 Copyright @ 2019 PATLAW. All Reserved. Designed by Tri Viet
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/layout.js')
