extends _inc

block article
  section.bread-crumb
    .container
      h1 Giới thiệu
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item
              a(href='index.html') Giới thiệu
            li.breadcrumb-item.active Chính sách Bảo mật Thông tin Khách hàng

  section.page-content
    .container
      .main
        .page-detail
          h2 Chính sách Bảo mật Thông tin Khách hàng  
          
          ul
            li
              i.mdi.mdi-calendar-blank
              | 31/05/2019
            li
              i.mdi.mdi-eye-outline
              | 50 Lượt xem
            li
              i.mdi.mdi-account-outline
              | Admin

          p Công ty Luật TNHH Phúc Anh Thiện (PAT LAW) xin chân thành Cám ơn Quý Khách đã truy cập và tìm hiểu về PAT LAW thông qua Website patlawhcm.com được vận hành bởi Phòng Tư vấn và Dịch vụ Khách hàng của Công ty chúng tôi.
          p Với các thông tin cần thiết liên quan đến việc thực hiện Yêu cầu và Hợp đồng Dịch vụ Pháp lý do Quý Khách cung cấp cho PAT LAW, chúng tôi tôn trọng và cam kết sẽ lưu trữ và bảo vệ thông tin của Quý khách nhằm tạo sự tin tưởng, an tâm gắn bó với PAT LAW trong suốt quá trình giải quyết vụ việc đã được hai bên thống nhất.
          p Trường hợp 1: Khách hàng liên hệ với PAT LAW thông qua việc điền thông tin về Tên, Địa chỉ Email, Số điện thoại và Nhu cầu trên các trường thông tin theo mẫu có sẵn trên Website patlawhcm.com. Khi PAT LAW nhận được thông tin sẽ có phản hồi qua địa chỉ Email của Quý khách. Thông tin PAT LAW nhận được thông qua các trường trên Website patlawhcm.com sẽ được lưu trữ trên Gmail doanh nghiệp của PAT LAW đã được đăng ký bảo mật qua hai bước xác minh, sau đó được nhập vào hệ thống lưu trữ máy tính của Công ty.
          p Trường hợp 2: Khách hàng liên hệ trực tiếp với Chuyên viên pháp lý hoặc Luật sư của PAT LAW, thì thông tin Khách hàng cung cấp sẽ được Chuyên viên, Luật sư ghi nhận lại làm thông tin sơ bộ ban đầu, sau đó được nhập vào hệ thống lưu trữ máy tính của Công ty.
          p Khách hàng đến Công ty để trao đổi thêm về Yêu cầu của mình, nếu Khách hàng và PAT LAW thống nhất được việc cung cấp Dịch vụ Pháp lý thì hai bên tiến hành ký kết Hợp đồng hoặc ghi nhận vào Phiếu Yêu cầu theo mẫu, Khách hàng có nghĩa vụ phải bổ sung các hồ sơ thông tin cần thiết liên quan đến vụ việc theo yêu cầu của PAT LAW.
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tempora non eligendi consequuntur ab nihil odio maiores tempore dolorem, earum unde ullam explicabo, delectus omnis beatae consectetur veritatis quidem odit?
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tempora non eligendi consequuntur ab nihil odio maiores tempore dolorem, earum unde ullam explicabo, delectus omnis beatae consectetur veritatis quidem odit?
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tempora non eligendi consequuntur ab nihil odio maiores tempore dolorem, earum unde ullam explicabo, delectus omnis beatae consectetur veritatis quidem odit?
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tempora non eligendi consequuntur ab nihil odio maiores tempore dolorem, earum unde ullam explicabo, delectus omnis beatae consectetur veritatis quidem odit?
          img(src='../img/news-1.png')

        .similar
          .title-similar
            h2 Bài viết liên quan

          .box-post
            .box-post-info 
              ul 
                li
                  h2.date 31
                    span 05/2019
                li
                  h2 50
                    span Lượt xem
                li
                  i.mdi.mdi-account-outline
                    span Admin
            .box-post-detail
              h2 
                a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
              h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
              .box-post-detail-btn
                a(href='chi-tiet-gioi-thieu.html')
                  span Đọc tiếp
                  i.mdi.mdi-chevron-right
          
          .box-post
            .box-post-info 
              ul 
                li
                  h2.date 31
                    span 05/2019
                li
                  h2 50
                    span Lượt xem
                li
                  i.mdi.mdi-account-outline
                    span Admin
            .box-post-detail
              h2 
                a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
              h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
              .box-post-detail-btn
                a(href='chi-tiet-gioi-thieu.html')
                  span Đọc tiếp
                  i.mdi.mdi-chevron-right
          
          .box-post
            .box-post-info 
              ul 
                li
                  h2.date 31
                    span 05/2019
                li
                  h2 50
                    span Lượt xem
                li
                  i.mdi.mdi-account-outline
                    span Admin
            .box-post-detail
              h2 
                a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
              h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
              .box-post-detail-btn
                a(href='chi-tiet-gioi-thieu.html')
                  span Đọc tiếp
                  i.mdi.mdi-chevron-right
          
            
      .left
        .service-left
          .title-left
            h2 Dịch vụ
          ul
            li
              a(href='dich-vu.html') 
                i.icofont-long-arrow-right
                | Tố tụng & Dịch vụ Hành chính
            li
              a(href='phap-ly-doanh-nghiep.html') 
                i.icofont-long-arrow-right
                | Pháp lý doanh nghiệp
            li
              a(href='bang-gia-dich-vu.html') 
                i.icofont-long-arrow-right
                | Bảng giá dịch vụ
            
        
        .news-left
          .title-left
            h2 Bài viết mới nhất
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/aboutus.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/aboutus.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/slider-1.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/bg-contact.jpg')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
        .contact-left
          .title-left
            h2 Liên hệ tư vấn
            h5 Lưu ý: Trước khi nhập thông tin Quý khách vui lòng tham khảo Chính sách bảo mật Thông tin Khách hàng được đăng tải trong Phần Giới thiệu của Patlaw.

          form
            input(type="text", placeholder="Họ tên:")        
            input(type="text", placeholder="Email:")
            input(type="text", placeholder="Số điện thoại:")
            input(type="text", placeholder="Địa chỉ:")
            textarea(placeholder="Mô tả vụ việc . . .")
            button(type="submit") Liên hệ ngay
          
          h5 Hoặc liên hệ hotline: 
            span 1900 633 675

