extends _inc

block article
  section.slider
    .owl-carousel.slider-carousel.owl-theme
      .item
        iframe(width='100%', height='600', src='https://www.youtube.com/embed/cz5cXWHqm9g', frameborder='0', allow='accelerometer;', allowfullscreen='')
      .item
        .slider-text
          h2 sit amet consectetur adipisicing elit. Ipsa, perspiciatis.
          h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perspiciatis dolor architecto molestiae quis asperiores cumque eveniet eos, minima deleniti?
          .slider-text-btn
            a(href='thong-tin-patlaw.html') Xem thêm
        img(src='../img/slider-1.png')
      
  section.main-service
    .container
      .main-service-zone
        .box-main-service
          img(src='../img/service-icon-1.png')
          h4 Tham gia tố tụng các vụ án, vụ việc
          h5 Claritas est etiam protcessus dynamicus, qui sequitur mutationem consuetudine|
        
        .box-main-service
          img(src='../img/service-icon-2.png')
          h4 Đại diện ủy quyền
          h5 Claritas est etiam protcessus dynamicus, qui sequitur mutationem consuetudine|
        
        .box-main-service
          img(src='../img/service-icon-3.png')
          h4 Tư vấn pháp luật
          h5 Claritas est etiam protcessus dynamicus, qui sequitur mutationem consuetudine|
        
  section.aboutus
    .container
      .title-page
        a
          i.icofont-law-order
        h2 GIỚI THIỆU VỀ PATlaw

      .row
        .col-lg-6.mb-4.mb-lg-0
          .aboutus-detail
            h4 "Công ty Luật Phúc Anh Thiện, với đội ngũ luật sư thành viên và chuyên viên làm việc theo tiêu chí: Sàng lọc – Sắp xếp – Săn sóc – Sạch sẽ – Sẵn sàng."
            h5 Với những kinh nghiệm thực tiễn qua nhiều năm làm việc trong những môi trường khác nhau: Thư ký Tòa án; Chuyên viên; Quản lý Doanh nghiệp; Ban chấp hành Hội Doanh nghiệp; Điều hành Văn phòng Luật sư;….. của Luật sư Trương Thành Thiện – Thạc sỹ chuyên ngành luật kinh tế. Công ty Luật Phúc Anh Thiện luôn có những giải pháp tốt nhất trong từng vụ việc mà khách hàng yêu cầu và nhận được sự tin tưởng của khách hàng từ dịch vụ của tập thể Luật sư và chuyên viên công ty; thông qua việc mang Đa giải pháp với mục tiêu Vững niềm tin và xây dựng thương hiệu luật sư uy tín của mọi khách hàng.
            .aboutus-detail-btn
              a.readmore(href='gioi-thieu.html') ĐỌC THÊM
              a.contact-btn(href='lien-he.html') LIÊN HỆ VỚI CHÚNG Tôi
        .col-lg-6.d-none.d-lg-block
          .aboutus-img
            img(src='../img/aboutus.png')

  section.achievement
    .container
      .box-achievement
        img(src='../img/achievement-1.png')
        .box-achievement-detail
          h1 100%
          h5 Làm việc tận tâm
      
      .box-achievement
        img(src='../img/achievement-2.png')
        .box-achievement-detail
          h1 85%
          h5 Trường hợp thành công
      
      .box-achievement
        img(src='../img/achievement-3.png')
        .box-achievement-detail
          h1 100%
          h5 Đảm bảo tín nhiệm
      
      .box-achievement
        img(src='../img/achievement-4.png')
        .box-achievement-detail
          h1 95%
          h5 Khách hàng hài lòng
  
  section.service
    .container
      .title-page
        a
          i.icofont-law-order
        h2 DỊCH VỤ PHÁP LÝ

      .service-zone
        .box-service
          .box-service-img(style="background-image: url('../img/service-1.png')")
          .box-service-detail 
            i.icofont-law-document
            h4
              a(href='chi-tiet-dich-vu.html') Kinh doanh – Thương mại – Đầu tư
            h5 Nhận và thực hiện hành chính doanh nghiệp: Thành lập; Thay đổi nội dung đăng ký doanh nghiệp
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu.html') 
                | Xem chi tiết 
                i.icofont-long-arrow-right
        
        .box-service
          .box-service-img(style="background-image: url('../img/service-1.png')")
          .box-service-detail 
            i.icofont-law-document
            h4
              a(href='chi-tiet-dich-vu.html') Kinh doanh – Thương mại – Đầu tư
            h5 Nhận và thực hiện hành chính doanh nghiệp: Thành lập; Thay đổi nội dung đăng ký doanh nghiệp
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu.html') 
                | Xem chi tiết 
                i.icofont-long-arrow-right
        
        .box-service
          .box-service-img(style="background-image: url('../img/service-1.png')")
          .box-service-detail 
            i.icofont-law-document
            h4
              a(href='chi-tiet-dich-vu.html') Kinh doanh – Thương mại – Đầu tư
            h5 Nhận và thực hiện hành chính doanh nghiệp: Thành lập; Thay đổi nội dung đăng ký doanh nghiệp
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu.html') 
                | Xem chi tiết 
                i.icofont-long-arrow-right
        
        .box-service
          .box-service-img(style="background-image: url('../img/service-1.png')")
          .box-service-detail 
            i.icofont-law-document
            h4
              a(href='chi-tiet-dich-vu.html') Kinh doanh – Thương mại – Đầu tư
            h5 Nhận và thực hiện hành chính doanh nghiệp: Thành lập; Thay đổi nội dung đăng ký doanh nghiệp
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu.html') 
                | Xem chi tiết 
                i.icofont-long-arrow-right
        
        .box-service
          .box-service-img(style="background-image: url('../img/service-1.png')")
          .box-service-detail 
            i.icofont-law-document
            h4
              a(href='chi-tiet-dich-vu.html') Kinh doanh – Thương mại – Đầu tư
            h5 Nhận và thực hiện hành chính doanh nghiệp: Thành lập; Thay đổi nội dung đăng ký doanh nghiệp
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu.html') 
                | Xem chi tiết 
                i.icofont-long-arrow-right
        
        .box-service
          .box-service-img(style="background-image: url('../img/service-1.png')")
          .box-service-detail 
            i.icofont-law-document
            h4
              a(href='chi-tiet-dich-vu.html') Kinh doanh – Thương mại – Đầu tư
            h5 Nhận và thực hiện hành chính doanh nghiệp: Thành lập; Thay đổi nội dung đăng ký doanh nghiệp
            .box-service-detail-btn
              a(href='chi-tiet-dich-vu.html') 
                | Xem chi tiết 
                i.icofont-long-arrow-right
        
      .service-all
        a(href='dich-vu.html') Xem tất cả dịch vụ

  section.contact
    .container
      .contact-info
        h1 Liên hệ với chúng tôi để được tư vấn trực tiếp
        h5 Lưu ý: Trước khi nhập thông tin Quý khách vui lòng tham khảo Chính sách bảo mật Thông tin Khách hàng được đăng tải trong Phần Giới thiệu của Patlaw.

        .contact-info-item
          i.icofont-headphone-alt-2
          .contact-info-item-detail
            h5 Hotline liên hệ:
            h4 0777.5555.99 – 0918.758879
        
        .contact-info-item
          i.mdi.mdi-email-outline
          .contact-info-item-detail
            h5 Email:
            h4 luatsutruongthanhthien@gmail.com
        
        .contact-info-item
          i.mdi.mdi-map-marker-outline
          .contact-info-item-detail
            h5 Số 520/2/9 (Tầng lửng), Quốc lộ 13, Khu phố 6, Phường Hiệp Bình Phước, Quận Thủ Đức, TP. Hồ Chí Minh

      .contact-form
        form
          input(type="text", placeholder="Họ tên:")        
          input(type="text", placeholder="Email:")
          input(type="text", placeholder="Số điện thoại:")
          input(type="text", placeholder="Địa chỉ:")
          textarea(placeholder="Mô tả vụ việc . . .")
          button(type="submit") Liên hệ ngay

  section.news
    .container
      .title-page
        a
          i.icofont-law-order
        h2 NGHIÊN CỨU TRAO ĐỔI

      .service-zone
        .box-news
          .box-news-img
            img(src='../img/news-1.png')
            .box-news-img-date
              h1 22
              h5 04/2019
          .box-news-detail 
            h4
              a(href='chi-tiet-tin-tuc.html') Nguyên đơn vắng mặt tại hai phiên họp hòa giải thì giải quyết thế nào?
            ul
              li
                i.mdi.mdi-card-bulleted-outline
                | Dân sự
              li
                i.mdi.mdi-eye-outline
                | 50 Lượt xem
              li
                a(href='chi-tiet-tin-tuc.html')
                  | Xem chi tiết
                  i.icofont-long-arrow-right  

        .box-news
          .box-news-img
            img(src='../img/slider-1.png')
            .box-news-img-date
              h1 22
              h5 04/2019
          .box-news-detail 
            h4
              a(href='chi-tiet-tin-tuc.html') Nguyên đơn vắng mặt tại hai phiên họp hòa giải thì giải quyết thế nào?
            ul
              li
                i.mdi.mdi-card-bulleted-outline
                | Dân sự
              li
                i.mdi.mdi-eye-outline
                | 50 Lượt xem
              li
                a(href='chi-tiet-tin-tuc.html')
                  | Xem chi tiết
                  i.icofont-long-arrow-right  

        .box-news
          .box-news-img
            img(src='../img/aboutus.png')
            .box-news-img-date
              h1 22
              h5 04/2019
          .box-news-detail 
            h4
              a(href='chi-tiet-tin-tuc.html') Nguyên đơn vắng mặt tại hai phiên họp hòa giải thì giải quyết thế nào?
            ul
              li
                i.mdi.mdi-card-bulleted-outline
                | Dân sự
              li
                i.mdi.mdi-eye-outline
                | 50 Lượt xem
              li
                a(href='chi-tiet-tin-tuc.html')
                  | Xem chi tiết
                  i.icofont-long-arrow-right  

        .box-news
          .box-news-img
            img(src='../img/aboutus.png')
            .box-news-img-date
              h1 22
              h5 04/2019
          .box-news-detail 
            h4
              a(href='chi-tiet-tin-tuc.html') Nguyên đơn vắng mặt tại hai phiên họp hòa giải thì giải quyết thế nào?
            ul
              li
                i.mdi.mdi-card-bulleted-outline
                | Dân sự
              li
                i.mdi.mdi-eye-outline
                | 50 Lượt xem
              li
                a(href='chi-tiet-tin-tuc.html')
                  | Xem chi tiết
                  i.icofont-long-arrow-right  

        .box-news
          .box-news-img
            img(src='../img/service-1.png')
            .box-news-img-date
              h1 22
              h5 04/2019
          .box-news-detail 
            h4
              a(href='chi-tiet-tin-tuc.html') Nguyên đơn vắng mặt tại hai phiên họp hòa giải thì giải quyết thế nào?
            ul
              li
                i.mdi.mdi-card-bulleted-outline
                | Dân sự
              li
                i.mdi.mdi-eye-outline
                | 50 Lượt xem
              li
                a(href='chi-tiet-tin-tuc.html')
                  | Xem chi tiết
                  i.icofont-long-arrow-right  

        .box-news
          .box-news-img
            img(src='../img/slider-1.png')
            .box-news-img-date
              h1 22
              h5 04/2019
          .box-news-detail 
            h4
              a(href='chi-tiet-tin-tuc.html') Nguyên đơn vắng mặt tại hai phiên họp hòa giải thì giải quyết thế nào?
            ul
              li
                i.mdi.mdi-card-bulleted-outline
                | Dân sự
              li
                i.mdi.mdi-eye-outline
                | 50 Lượt xem
              li
                a(href='chi-tiet-tin-tuc.html')
                  | Xem chi tiết
                  i.icofont-long-arrow-right  

      .news-all
        a(href='dich-vu.html') Xem tất cả tin