extends _inc

block article
  section.bread-crumb
    .container
      h1 Thông tin PATLAW
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Thông tin PATLAW

  section.page-content
    .container
      .main
        .box-post
          .box-post-info 
            ul 
              li
                h2.date 31
                  span 05/2019
              li
                h2 50
                  span Lượt xem
              li
                i.mdi.mdi-account-outline
                  span Admin
          .box-post-detail
            h2 
              a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
            img(src='../img/bg-achievement.jpeg')
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
            .box-post-detail-btn
              a(href='chi-tiet-gioi-thieu.html')
                span Đọc tiếp
                i.mdi.mdi-chevron-right
        
        .box-post
          .box-post-info 
            ul 
              li
                h2.date 31
                  span 05/2019
              li
                h2 50
                  span Lượt xem
              li
                i.mdi.mdi-account-outline
                  span Admin
          .box-post-detail
            h2 
              a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
            img(src='../img/news-1.png')
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
            .box-post-detail-btn
              a(href='chi-tiet-gioi-thieu.html')
                span Đọc tiếp
                i.mdi.mdi-chevron-right
        
        .box-post
          .box-post-info 
            ul 
              li
                h2.date 31
                  span 05/2019
              li
                h2 50
                  span Lượt xem
              li
                i.mdi.mdi-account-outline
                  span Admin
          .box-post-detail
            h2 
              a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
            img(src='../img/bg-contact.jpg')
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
            .box-post-detail-btn
              a(href='chi-tiet-gioi-thieu.html')
                span Đọc tiếp
                i.mdi.mdi-chevron-right
        
        .box-post
          .box-post-info 
            ul 
              li
                h2.date 31
                  span 05/2019
              li
                h2 50
                  span Lượt xem
              li
                i.mdi.mdi-account-outline
                  span Admin
          .box-post-detail
            h2 
              a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
            img(src='../img/slider-1.png')
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
            .box-post-detail-btn
              a(href='chi-tiet-gioi-thieu.html')
                span Đọc tiếp
                i.mdi.mdi-chevron-right
        
        .box-post
          .box-post-info 
            ul 
              li
                h2.date 31
                  span 05/2019
              li
                h2 50
                  span Lượt xem
              li
                i.mdi.mdi-account-outline
                  span Admin
          .box-post-detail
            h2 
              a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
            img(src='../img/service-1.png')
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
            .box-post-detail-btn
              a(href='chi-tiet-gioi-thieu.html')
                span Đọc tiếp
                i.mdi.mdi-chevron-right
        
        .box-post
          .box-post-info 
            ul 
              li
                h2.date 31
                  span 05/2019
              li
                h2 50
                  span Lượt xem
              li
                i.mdi.mdi-account-outline
                  span Admin
          .box-post-detail
            h2 
              a(href='chi-tiet-gioi-thieu.html') Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại
            img(src='../img/bg-achievement.jpeg')
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.
            .box-post-detail-btn
              a(href='chi-tiet-gioi-thieu.html')
                span Đọc tiếp
                i.mdi.mdi-chevron-right
        
        nav
          ul.pagination.justify-content-end
            li
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') «
                span.sr-only Previous
            li
              a.page-link.active(href='#') 1
            li
              a.page-link(href='#') 2
            li
              a.page-link(href='#') 3
            li
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next 
        
            
      .left
        .service-left
          .title-left
            h2 Dịch vụ
          ul
            li
              a(href='chi-tiet-gioi-thieu.html') 
                i.icofont-long-arrow-right
                | Tố tụng & Dịch vụ Hành chính
            li
              a(href='phap-ly-doanh-nghiep.html') 
                i.icofont-long-arrow-right
                | Pháp lý doanh nghiệp
            li
              a(href='bang-gia-chi-tiet-gioi-thieu.html') 
                i.icofont-long-arrow-right
                | Bảng giá dịch vụ
            
        
        .news-left
          .title-left
            h2 Bài viết mới nhất
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/aboutus.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/slider-1.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/bg-contact.jpg')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
          .box-news-left
            a(href='chi-tiet-tin-tuc.html')
              img(src='../img/news-1.png')
            .box-news-left-detail
              h5 
                a(href='chi-tiet-tin-tuc.html', title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại")
                  | Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại
              h4 
                i.mdi.mdi-calendar-blank
                | 31/05/2019
          
        .contact-left
          .title-left
            h2 Liên hệ tư vấn
            h5 Lưu ý: Trước khi nhập thông tin Quý khách vui lòng tham khảo Chính sách bảo mật Thông tin Khách hàng được đăng tải trong Phần Giới thiệu của Patlaw.

          form
            input(type="text", placeholder="Họ tên:")        
            input(type="text", placeholder="Email:")
            input(type="text", placeholder="Số điện thoại:")
            input(type="text", placeholder="Địa chỉ:")
            textarea(placeholder="Mô tả vụ việc . . .")
            button(type="submit") Liên hệ ngay
          
          h5 Hoặc liên hệ hotline: 
            span 1900 633 675

