<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>PATLAW</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/icofont.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="right">
            <div class="lawyer">
              <h2>Thạc sỹ - Luật sư: Trương Thành Thiện</h2>
              <h5>Thành viên Đoàn Luật sư TP. Hồ Chí Minh</h5>
            </div>
            <div class="hotline">
              <h2><i class="icofont-headphone-alt-2"></i><a href="tel:1900663675">1900.663.675</a></h2>
              <h5>Tổng đài tư vấn</h5>
            </div>
            <div class="search-btn"><i class="mdi mdi-magnify"></i>
              <h5>Tìm kiếm</h5>
            </div>
            <div class="zalo"><a href="http://zalo.me/0917681909 ">
                <h1>Z</h1>
                <h5>Zalo</h5></a></div>
            <div class="contact-btn"><a href="lien-he.html"><i class="mdi mdi-comment-text-outline"></i>
                <h5>Liên hệ  </h5></a></div>
          </div>
        </div>
        <div class="container">
          <div class="search-form">
            <form action="">
              <input type="text" placeholder="Nhập từ khóa . . ."/>
              <button type="submit"><i class="mdi mdi-magnify"></i></button><i class="mdi mdi-close close-search"></i>
            </form>
          </div>
        </div>
      </section>
      <section class="menu">
        <div class="toggleMenu d-block d-xl-none"><i class="mdi mdi-menu"></i>
          <h5>Menu</h5>
        </div>
        <div class="container">
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-xl-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
              <li class="nav-item"><a class="nav-link" href="gioi-thieu.html">
                   Giới thiệu</a>
                <ul>
                  <li><a href="chi-tiet-gioi-thieu.html">PATLAW</a></li>
                  <li><a href="chi-tiet-gioi-thieu.html">Dịch vụ pháp lý</a></li>
                  <li><a href="chi-tiet-gioi-thieu.html">Chính sách bảo mật thông tin khách hàng</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="dich-vu.html">
                   Tố tụng & dịch vụ hành chính</a></li>
              <li class="nav-item"><a class="nav-link" href="phap-ly-doanh-nghiep.html">Pháp lý doanh nghiệp</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">
                   Nghiên cứu trao đổi</a>
                <ul>
                  <li><a href="tin-tuc.html">Dân sự</a></li>
                  <li><a href="tin-tuc.html">Hình sự</a></li>
                  <li><a href="tin-tuc.html">Hôn nhân - Gia đình</a></li>
                  <li><a href="tin-tuc.html">Kinh doanh - Thương mại - Đầu tư</a></li>
                  <li><a href="tin-tuc.html">Nhà - Đất</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="thong-tin-patlaw.html">
                   Thông tin PATLAW</a>
                <ul>
                  <li><a href="thong-tin-patlaw.html">Giới thiệu PATLAW</a></li>
                  <li><a href="thong-tin-patlaw.html">Thông tin về PATLAW</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="lien-he.html">Đăng ký tư vấn</a></li>
              <li class="nav-item"><a class="nav-link" href="bang-gia.html">Bảng giá dịch vụ</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <h1>Giới thiệu</h1>
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Giới thiệu</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="page-content">
        <div class="container">
          <div class="main">
            <div class="box-post">
              <div class="box-post-info"> 
                <ul> 
                  <li>
                    <h2 class="date">31<span>05/2019</span></h2>
                  </li>
                  <li>
                    <h2>50<span>Lượt xem</span></h2>
                  </li>
                  <li><i class="mdi mdi-account-outline"><span>Admin</span></i></li>
                </ul>
              </div>
              <div class="box-post-detail">
                <h2> <a href="chi-tiet-gioi-thieu.html">Chính sách Bảo mật Thông tin Khách hàng</a></h2><img src="../img/bg-contact.jpg"/>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.</h5>
                <div class="box-post-detail-btn"><a href="chi-tiet-gioi-thieu.html"><span>Đọc tiếp</span><i class="mdi mdi-chevron-right"></i></a></div>
              </div>
            </div>
            <div class="box-post">
              <div class="box-post-info"> 
                <ul> 
                  <li>
                    <h2 class="date">31<span>05/2019</span></h2>
                  </li>
                  <li>
                    <h2>50<span>Lượt xem</span></h2>
                  </li>
                  <li><i class="mdi mdi-account-outline"><span>Admin</span></i></li>
                </ul>
              </div>
              <div class="box-post-detail">
                <h2> <a href="chi-tiet-gioi-thieu.html">Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại</a></h2><img src="../img/news-1.png"/>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.</h5>
                <div class="box-post-detail-btn"><a href="chi-tiet-gioi-thieu.html"><span>Đọc tiếp</span><i class="mdi mdi-chevron-right"></i></a></div>
              </div>
            </div>
            <div class="box-post">
              <div class="box-post-info"> 
                <ul> 
                  <li>
                    <h2 class="date">31<span>05/2019</span></h2>
                  </li>
                  <li>
                    <h2>50<span>Lượt xem</span></h2>
                  </li>
                  <li><i class="mdi mdi-account-outline"><span>Admin</span></i></li>
                </ul>
              </div>
              <div class="box-post-detail">
                <h2> <a href="chi-tiet-gioi-thieu.html">Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại</a></h2><img src="../img/bg-contact.jpg"/>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.</h5>
                <div class="box-post-detail-btn"><a href="chi-tiet-gioi-thieu.html"><span>Đọc tiếp</span><i class="mdi mdi-chevron-right"></i></a></div>
              </div>
            </div>
            <div class="box-post">
              <div class="box-post-info"> 
                <ul> 
                  <li>
                    <h2 class="date">31<span>05/2019</span></h2>
                  </li>
                  <li>
                    <h2>50<span>Lượt xem</span></h2>
                  </li>
                  <li><i class="mdi mdi-account-outline"><span>Admin</span></i></li>
                </ul>
              </div>
              <div class="box-post-detail">
                <h2> <a href="chi-tiet-gioi-thieu.html">Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại</a></h2><img src="../img/slider-1.png"/>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.</h5>
                <div class="box-post-detail-btn"><a href="chi-tiet-gioi-thieu.html"><span>Đọc tiếp</span><i class="mdi mdi-chevron-right"></i></a></div>
              </div>
            </div>
            <div class="box-post">
              <div class="box-post-info"> 
                <ul> 
                  <li>
                    <h2 class="date">31<span>05/2019</span></h2>
                  </li>
                  <li>
                    <h2>50<span>Lượt xem</span></h2>
                  </li>
                  <li><i class="mdi mdi-account-outline"><span>Admin</span></i></li>
                </ul>
              </div>
              <div class="box-post-detail">
                <h2> <a href="chi-tiet-gioi-thieu.html">Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại</a></h2><img src="../img/service-1.png"/>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.</h5>
                <div class="box-post-detail-btn"><a href="chi-tiet-gioi-thieu.html"><span>Đọc tiếp</span><i class="mdi mdi-chevron-right"></i></a></div>
              </div>
            </div>
            <div class="box-post">
              <div class="box-post-info"> 
                <ul> 
                  <li>
                    <h2 class="date">31<span>05/2019</span></h2>
                  </li>
                  <li>
                    <h2>50<span>Lượt xem</span></h2>
                  </li>
                  <li><i class="mdi mdi-account-outline"><span>Admin</span></i></li>
                </ul>
              </div>
              <div class="box-post-detail">
                <h2> <a href="chi-tiet-gioi-thieu.html">Dịch vụ Tư vấn Tranh chấp Kinh doanh – Thương mại</a></h2><img src="../img/bg-achievement.jpeg"/>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam expedita quibusdam voluptates vero numquam libero eligendi delectus, architecto totam molestias aspernatur ex facilis pariatur nobis sapiente, reprehenderit recusandae vel quaerat.</h5>
                <div class="box-post-detail-btn"><a href="chi-tiet-gioi-thieu.html"><span>Đọc tiếp</span><i class="mdi mdi-chevron-right"></i></a></div>
              </div>
            </div>
            <nav>
              <ul class="pagination justify-content-end">
                <li><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                <li><a class="page-link active" href="#">1</a></li>
                <li><a class="page-link" href="#">2</a></li>
                <li><a class="page-link" href="#">3</a></li>
                <li><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next </span></a></li>
              </ul>
            </nav>
          </div>
          <div class="left">
            <div class="service-left">
              <div class="title-left">
                <h2>Dịch vụ</h2>
              </div>
              <ul>
                <li><a href="chi-tiet-gioi-thieu.html"> <i class="icofont-long-arrow-right"></i>Tố tụng & Dịch vụ Hành chính</a></li>
                <li><a href="phap-ly-doanh-nghiep.html"> <i class="icofont-long-arrow-right"></i>Pháp lý doanh nghiệp</a></li>
                <li><a href="bang-gia-chi-tiet-gioi-thieu.html"> <i class="icofont-long-arrow-right"></i>Bảng giá dịch vụ</a></li>
              </ul>
            </div>
            <div class="news-left">
              <div class="title-left">
                <h2>Bài viết mới nhất</h2>
              </div>
              <div class="box-news-left"><a href="chi-tiet-tin-tuc.html"><img src="../img/aboutus.png"/></a>
                <div class="box-news-left-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html" title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại">Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại</a></h5>
                  <h4> <i class="mdi mdi-calendar-blank"></i>31/05/2019</h4>
                </div>
              </div>
              <div class="box-news-left"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a>
                <div class="box-news-left-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html" title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại">Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại</a></h5>
                  <h4> <i class="mdi mdi-calendar-blank"></i>31/05/2019</h4>
                </div>
              </div>
              <div class="box-news-left"><a href="chi-tiet-tin-tuc.html"><img src="../img/slider-1.png"/></a>
                <div class="box-news-left-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html" title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại">Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại</a></h5>
                  <h4> <i class="mdi mdi-calendar-blank"></i>31/05/2019</h4>
                </div>
              </div>
              <div class="box-news-left"><a href="chi-tiet-tin-tuc.html"><img src="../img/bg-contact.jpg"/></a>
                <div class="box-news-left-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html" title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại">Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại</a></h5>
                  <h4> <i class="mdi mdi-calendar-blank"></i>31/05/2019</h4>
                </div>
              </div>
              <div class="box-news-left"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a>
                <div class="box-news-left-detail">
                  <h5> <a href="chi-tiet-tin-tuc.html" title=" Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại">Định khung hình phạt trong trường hợp bị cáo đã khắc phục một phần hoặc toàn bộ thiệt hại</a></h5>
                  <h4> <i class="mdi mdi-calendar-blank"></i>31/05/2019</h4>
                </div>
              </div>
            </div>
            <div class="contact-left">
              <div class="title-left">
                <h2>Liên hệ tư vấn</h2>
                <h5>Lưu ý: Trước khi nhập thông tin Quý khách vui lòng tham khảo Chính sách bảo mật Thông tin Khách hàng được đăng tải trong Phần Giới thiệu của Patlaw.</h5>
              </div>
              <form>
                <input type="text" placeholder="Họ tên:"/>
                <input type="text" placeholder="Email:"/>
                <input type="text" placeholder="Số điện thoại:"/>
                <input type="text" placeholder="Địa chỉ:"/>
                <textarea placeholder="Mô tả vụ việc . . ."></textarea>
                <button type="submit">Liên hệ ngay</button>
              </form>
              <h5>Hoặc liên hệ hotline: <span>1900 633 675</span></h5>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="about"><img src="../img/logo.png"/>
              <p>Công ty Luật Phúc Anh Thiện là kết tinh những kiến thức từ cơ bản đến nâng cao thuộc chuyên ngành Luật và một số chuyên ngành khác; Với những kinh nghiệm thực tiễn qua nhiều năm làm việc trong những môi trường khác nhau: Thư ký Tòa án</p>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-sm-6">
            <div class="info">
              <h4>
                 Thông tin công ty<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li>Chủ sở hữu Website: CÔNG TY LUẬT TNHH PHÚC ANH THIỆN</li>
                <li>Giấy đăng ký hoạt động số: 41/02.2706/TP/ĐKHĐ do Sở Tư Pháp thành phố Hồ Chí Minh cấp thay đổi ngày 15/08/2018</li>
                <li>Địa chỉ: Số 520/2/9 (Tầng lửng), Quốc lộ 13, Khu phố 6, Phường Hiệp Bình Phước, Quận Thủ Đức, TP. Hồ Chí Minh</li>
                <li>Mã số thuế: 03 1513 2200</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-sm-12">
            <div class="info">
              <h4>
                 Thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-deskphone"></i>Hotline: 1900.633.675</li>
                <li><i class="mdi mdi-email-outline"></i>luatsutruongthanhthien@gmail.com</li>
                <li><a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=48947"><img src="../img/copyright.png"/></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 PATLAW. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>